---
// @ts-nocheck
import { slide } from 'astro:transitions';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const url = "https://wnkjsxgrwbocyrqdebfj.supabase.co/rest/v1/produkter";
  const options = {
    method: "GET",
    headers: {
      apikey: `eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indua2pzeGdyd2JvY3lycWRlYmZqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzM3NDM3NzcsImV4cCI6MjA0OTMxOTc3N30.-JwL6KZXBey-gpbEkjNewRBPoUYM7hSEnRYeXgqpHHU`,
    }
  };

  const produkter = await fetch(url, options).then((res) => res.json());
  return produkter.map((data) => ({
    params: { slug: data.slug }, // [artist]=artist.slug
    props: {
      data,
    }, // send al data med som props
  }));
}

const {data} = Astro.props
console.log(data);
---

<Layout title={data.SWtitle}>
  <img src={data.image} alt={data.image} />
  <h2>{data.namel}</h2>
  <p>{data.kg}</p> 
  <p>{data.pris}</p>
  <p>{data.description}</p>
</Layout>