---
const { data } = Astro.props;
const {soldOut} = Astro.props;
---


<a href={`produkter/${data.slug}`}>
  <article>
    <img src={`/img/${data.image}`} alt={data.image} />
    <div class="card-content">
      <div class="name-price">
        <h2 class="name">{data.name}</h2>
        <p class="price">{data.pris} DKK</p>
      </div>
      <p class="description">{data.description}</p>
      <div class="btn-content">
        <button>Tilføj til kurv</button>
      </div>
    </div>
  </article>
</a>

<style>
  * {
    background-color: #ffffff;
    color: #656255;
    text-decoration: none;
  }

  a {
    background-color: #ebe7dc;
  }

  article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10%;
    margin-bottom: 4%;
    margin-top: 4%;
    max-width: 100%;
    border: 2px solid #ebe7dc;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: "EB Garamond", serif;
    
  }

  img {
    width: 100%;
    object-fit: cover;
    display: block;
  }

  .card-content {
    padding: 16px;
    text-align: left;
  }

  .name-price {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 12px;
}
  .name {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0;
    margin-bottom: 8px;
  }

  .price {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
  }
  .description {
    font-size: 1rem;
    margin-bottom: 16px;
    opacity: 80%;
  }

  button {
    display: flex;
    background-color: #19437d;
    color: #fff;
    font-family: "EB Garamond", serif;
    padding: 2% 30%;
    margin-top: 8%;
    border-radius: 2px;
    font-size: 1.5rem;
    font-weight: regular;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #002a80;
  }

  .btn-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 1400px) {
  button {
    font-size: 1rem
  }
}

@media (max-width: 750px) {
 
}
</style>
